body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #F8F4F2;

}

h1{
  /*width: 10%;
  margin: 0 auto 0 auto; */
  margin: 0;
  color: #097144;
}

.h1-main {
    font-size: 5.50em; /* 485% // 1em = 16px// 16px = 100% */
    color: #00664D;
    font-family: 'Chelsea Market', cursive;
}

.subheading {
  font-family: 'Montserrat', sans-serif;
  color: #0C1D13;
}

.heading-subheading {
  height: 40px;
}

.footer {
  width: 100%;
  position: relative;
  margin: 0;
  bottom: -5px;
}

.top-container {
  background-color: #D8F3FD;
  position: relative;
  padding-top: 100px;
  margin: 0;
}

.middle-container {

}

.bottom-container {

}

.span {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  top: 180px;
}

.h1-div {
  height: 100px;
}

p {
  color: #0C1D13;
  font-size: 1.2em;
}

h2 {
  color: #0C975B;
}

h3 {
  color: #6A994E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #D3D3D3;
  border-width: 5px;
  width: 6%; /* NOTE: bruh improtant */
}

.div-skills {
  height: 20px;
}

.h1-body {
  color: #097144;
}
